.footer-box {
  width: 100%;
  padding: 0 4rem;
}

.footer-box-header {
  font-family: "Source Sans 3", sans-serif;
  font-weight: bold;
}

.footer-box-text {
  font-family: "Source Sans 3", sans-serif;
}

.social-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1;
}

.social-icon {
  font-size: 3rem;
}

.social-icon:hover {
  cursor: pointer;
}